# Ignore data files (these are mounted at runtime)
03_App/*.rds
03_App/*.h5

# MacOS system files
.DS_Store

# R temporary files / history
*.Rhistory
*.RData
.Rproj.user/

# Any logs or temporary outputs
*.log
tmp/
